.dc-chart g.row text {
    fill: black;
    font-size: 10px;
}

.h4, h4, .h5, h5, .h6, h6 {
    margin-bottom: 0px;
}

body {
    margin: 40px;
}

#source-chart, #date-chart, #hour-chart, #day-chart, #status-chart, #neighborhood-chart, #map {
    border: 1px solid black;
}

#map {
    height: 250px;
}

.small-div-marker {
    width: 2px;
    height: 2px;
    background: blue;
    border: 1px solid navy;
    border-radius: 50%;
}