html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 30px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #ddd;
  padding-top: 4px;
}


.dc-chart g.row text {
    fill: black;
    font-size: 10px;
}

.dc-chart rect.bar {
  fill-opacity: 0.8;
}

.h4, h4, .h5, h5, .h6, h6 {
    margin-bottom: 0px;
}

.jumbotron {
    color: white;
    background-color: #000;
    background-image: url("../img/boston_skyline5.jpg");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;
}

.jumbotron p {
  background-color: rgba(0,0,0, 0.4);
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 1.75em;
}

.jumbotron h1 small {
    color: #ccc;
    display: inline-block;
}

.jumbotron a {
    color: skyblue;
}

.jumbotron .caption {
  position: absolute; 
  bottom: 0; 
  right: 0;
  padding-right: 10px;
  background-color: rgba(0,0,0,0.7);
}

#source-chart, #date-chart, #hour-chart, #day-chart, #status-chart, #neighborhood-chart, #reason-chart, #opendays-chart, #map {
    border: 1px solid #ddf;
}

#map {
    height: 518px;
}

.dc-table-label {
  display: none;
}

#data-table {
  font-size: 9pt;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9faff;
}

.small-div-marker {
    width: 2px;
    height: 2px;
    background: #1a8bba;
    border: 1px solid #1a8bba;
    border-radius: 50%;
}

.marker-cluster-small {
    /* #1a8bba */
    background-color: rgba(26, 139, 186, 0.6);
    color: #A6DBF2;
}
.marker-cluster-small div {
    /* #1985B3 */
    background-color: rgba(25, 133, 179, 0.6);
}

.marker-cluster-medium {
    /* #1777A1 */
    background-color: rgba(23, 119, 161, 0.6);
    color: #A6DBF2;
}
.marker-cluster-medium div {
    /* #146A8F */
    background-color: rgba(20, 106, 143, 0.6);
}

.marker-cluster-large {
    /* #125D7D */
    background-color: rgba(18, 93, 125, 0.6);
    color: #A6DBF2;
}
.marker-cluster-large div {
    /* #0F506B */
    background-color: rgba(15, 80, 107, 0.6);
}

